* { padding:0; margin:0; outline:0; }
body {
	background:#333333;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 15px;
	line-height:16px;
	color:#333333;
}

h2#logo { font-size:0; line-height:0; width:156px; height:64px; float:left; }


.shell { width:960px; margin:0 auto; /*padding:10px;*/}
.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }
#header { background: #336699; box-shadow:0 1px 5px #333333; height:33px; position:relative; margin-bottom:1px;}
#admin { float:right; width:150px;padding-top:8px;margin-right:5px;} 

.topnav {
    font-size: 15px;
    line-height:14px;
    text-align:right;
}
.topnav a.signin {
  color:#e1e1e0;
  font-weight:bold;
}
.topnav a.signin:hover {
    color:#fff;
}
a.signin {
    position:relative;
	
}
a.signin span {
    background-image:url("images/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}
#topnav a.menu-open {
    background:#00a2ff!important;
    color:#333333!important;
}
a.signin.menu-open span {
    background-image:url("images/toggle_up_dark.png");
    color:#333333;
	
}
#signin_menu {
    display:none;
    background: #00a2ff;
    position:absolute;
    width:75px;
    text-align:right;
    padding:5px;
    top: 24px; 
    right: 0; 
    margin-top:10px;
    margin-right: 0px;
    color:#333333;
    font-size: 15px;
	font-weight:bold;
	border:#0eb339;
}
#signin_menu ul{
	color:#fff;
	list-style-type:none;
	font-size: 13px;
}

#signin_menu ul li{
list-style-type:none;
}

#signin_menu ul li a {
    text-decoration:none;
    color:#333333;
}

#signin_menu ul li a:hover{ color:#fff;   text-decoration:none; }

#header1 {
	position: relative;
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	width: 950px;
	padding-top: 0px;
	text-align: left;
	height: auto;

}
.flash {
	background:url('../image/head.jpg') no-repeat ;margin-left:-5px;width:960px; height:170px;padding-bottom:35px;padding-top:50px; 
}



#navigation { float:left; white-space:nowrap; }
#navigation ul{ list-style-type: none; height:30px; font-weight: bold; }
#navigation ul li{ float:left; display:inline; }
#navigation ul li a{
	float:left;
	line-height:30px;
	text-decoration: none;
	color:#fff;
	padding:0 10px;
}
#navigation ul li a.active,
#navigation ul li a:hover{ color:#333333; height:30px;}

#sidebar { float:left; width:226px;  padding-top:9px; }
#content { /*float:center;*/ width:724px; color:#333333; padding-top:0px; }

.content{ width:935px;-moz-border-radius:0.5em 0.5em 0.5em 0.5em; border:2px #fff solid; padding:10px 10px 10px 10px;background-color:#ffffff;min-height:400px;box-shadow:0 1px 5px #333333;}
.content .judul {float:left; background:url(images/homer.png)left top no-repeat; height:50px; padding-top:8px; padding-left: 60px;padding-bottom: 0;}
.content .judul h2{margin-top:8px;text-transform: uppercase; text-shadow:0 1px 0 #999;}
.content .hasil { color:#333333;  }
.content .hasil span{background:url(images/bul.gif)left no-repeat; padding-left:10px;width:20px; padding-bottom: 0; }
.detil span{background:url(images/bul.gif)left no-repeat; padding-left:10px;width:20px; padding-bottom: 0; }
.detil .title{text-transform:uppercase;}
.content .info{background-color:#f5f5f5;padding:5px;border:#333333 solid 1px;}
.content .info p{padding-top:10px;}
.content .info h2{background:url(images/information.png)left no-repeat; background-position:0 15%; padding-bottom:10px; padding-left:20px; color:#333333; text-shadow:0 1px 0 #999;border-bottom:dashed 1px #333333;}
.content .info2{background-color:#E2E2E2;padding:5px;border:#333333 solid 1px;}
.content .info2 p{padding-top:10px;}
.content .info2 h2{background:url(images/information.png)left no-repeat; background-position:0 15%; padding-bottom:10px; padding-left:20px; color:#333333; text-shadow:0 1px 0 #999;border-bottom:dashed 1px #333333;}
.garis{border-bottom:1px dashed #f5f5f5; margin:30px 0px 10px 0px;  width:100%;}
.kategori-nama{ width:99%;font-size:24px; font-weight:bold; border-bottom:#f5f5f5 1px dashed; margin:15px 0px 10px 0px; padding-bottom:10px;}

#main { padding:10px 0 0 0;}

.add fieldset{ padding:5px; border-color:#336699;}
.add fieldset legend{ background: #336699;  color:#fff; padding:3px; font-weight:bold; -moz-border-radius:0.5em 0.5em 0.5em 0.5em;}

.box { padding:1px; border:solid 1px #dedede; margin-bottom:10px;}
.box h2{ background:url(images/bg_cat.gif); color:#333333; font-weight: normal; padding:0 5px; position:relative; height:27px; line-height:27px; text-shadow:0 1px 0 #fff;}
.box h2 span{
	position:absolute;
	width:10px;
	height:5px;
	top:27px;
	right:-1px;
	font-size:0;
	line-height:0;
}
.box-content { padding:5px;}

a.bul { background:url(images/bul.gif) no-repeat 5 center; padding-left:10px;}

.categories { min-height:200px; background:#00d2ff; border:0 #FF6600 solid;box-shadow:0 1px 5px #333333;}
.categories { min-height:200px; }
.categories ul { list-style-type: none; font-size: 15px;}
.categories ul li{ border-bottom:dashed 1px #999999; padding:8px 10px;}
.categories ul li.last{   padding-bottom:0;-moz-border-radius:0.5em 0.5em 0.5em 0.5em; }
.categories ul li a{ color:#3333330ff; text-decoration: none; ;background:url(images/arrow_purple.gif) no-repeat 0 4px; padding-left:17px;font-size: 13px; font-family:Verdana, Arial, Helvetica, sans-serif; }
.categories ul li a:hover{ color:#333333; font-size: 13px; text-decoration: underline;}

th{
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	background-color: #336699;
}
.th{
	border-width: 1px;
	border-style: solid;
	border-color: #336699;
	border-collapse: collapse;
}



.ts{
    color:#333333;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	background-color:#0066CC;
} 

a.thickbox{ padding:5px;color:#fff; background:#336699;text-decoration:none;margin-left:21px;text-shadow:0 0px 0 #333333;font-size: 13px;font-weight:bold;border:1px solid #336699;width:75px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;height:26px;}
a.thickbox:hover{ background:#336699;color:#333333;cursor:pointer;text-shadow:0 0px 0 #fff;}
a.thickbox2{ padding:5px;color:#fff; background:#3333330ff;text-decoration:none;margin-left:21px;text-shadow:0 0px 0 #333333;font-size: 13px;font-weight:bold;border:1px solid #39D;width:75px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;height:26px;}
a.thickbox2:hover{ background:#336699;color:#333333;cursor:pointer;text-shadow:0 0px 0 #fff;}
input[type=text],input[type=password],textarea{display:inline-block;width:210px;/*height:18px;*/padding:4px;line-height:18px;color:#333333;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-weight:bold;}
input[type=text]:focus,input[type=password]:focus,textarea:focus{outline:0;border-color:#333333;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
select{display:inline-block;width:210px;height:28px;padding:4px;font-size:bold;line-height:18px;color:#333333;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
select:focus{outline:0;border-color:#00FF00;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
input[type=submit], input[type=reset], input[type=button]{
    -webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
    background:#336699;
    border:1px solid #336699;
    color:#fff;
    text-shadow:0 0px 0 #333333;
	height:30px;
    font-size:12px;
    margin:0 5px 0 0;
    font-weight:bold;
	width:75px;
}
input[disabled].disable{    
	-moz-border-radius:3px;
    background:#fff;
    color:#999999;
	height:26px;
    font-size:12px;
    margin:0 5px 0 0;
    font-weight:bold;
	width:75px;}

input[type=submit]:hover{ background:#336699;color:#333333;cursor:pointer;text-shadow:0 0px 0 #fff;}
input[disabled].disable:hover{ background:#fff;color:#999999;cursor:pointer;text-shadow:0 0px 0 #fff;}

.bukutamu{background-color:#fff; border:#333333 solid 1px; padding:10px;}
.bukutamu span{color:#333333; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 15px; float:left;padding:10px;text-shadow:0 0px 0 #333333;}
.bukutamu table{padding:5px;color:#333333; font-family:"Courier New", Courier, monospace; font-size:15px; }
#footer { height:33px; background: #336699; box-shadow:0 1px 5px #333333;white-space:nowrap; line-height:30px; padding:0 15px; color:#333333; /*margin-top:2px;*/ text-align:center;}
#footer a{ color:#ffffff; text-decoration: none;text-shadow:0 1px 0 #333333;}
#footer a:hover{ color:#333333;}
#footer span{ padding:0 2px;}
#footer ul{color:#FFFFFF;text-shadow:0 1px 0 #333333;}
.fot{height:20px;}
.hasil hr{color:#999999;box-shadow:0 1px 2px #999;border:dashed 1px;}
a.back{color:#3333330ff;text-decoration:none;}
a.back:hover{color:#3333330ff;font-size: 15px;font-weight:bold}


.tombol{
-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
    background:#3333330ff url('images/bg-btn-blue.png') repeat-x scroll 0 0;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 0px 0 #333333;
	height:100px;
    font-size:20px;
    margin:0 10px 0 0;
    font-weight:bold;
	width:90px;

}
